@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger:  #fc483f !default;
$brand-info:    #000072 !default;

body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

html, body {
    height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 100% arial,sans-serif;
}

html {
  position: relative;
}

body{
  margin:0;
  padding:0;
  width:100%;
  max-width:100%;
  overflow-x:hidden;
}

article, aside, div, dt, figcaption, footer, form, header, hgroup, html, main, nav {
  display: block;
}

/*NAVBAR CUSTOM*/
.navbar-brand {
    float: left;
    font-size: 150%;
    width:auto;
}

.social li img{
  width:50%;
  height:50%;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
    float:none;
  }
}

.navbar-nav {
  margin: 1px 1px;
  z-index:100;
  clear:none;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
  font-weight:700;
    text-transform:uppercase;
    border-width:0;
}

.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}

.navbar-collapse{
  background:#2e2e2e;
  margin:0;
  padding:0;
}

.navbar-nav.nav-justified > li:nth-child(2),
.navbar-nav.nav-justified > li:nth-child(3),
.navbar-nav.nav-justified > li:nth-child(4),
.navbar-nav.nav-justified > li:nth-child(5){
  border-right:1px #5e5e5e solid;
}

.navbar-nav.nav-justified > li:nth-child(3) > a:hover,
.navbar-nav.nav-justified > li:nth-child(4) > a:hover,
.navbar-nav.nav-justified > li:nth-child(5) > a:hover,
.navbar-nav.nav-justified > li:nth-child(3) > a:focus,
.navbar-nav.nav-justified > li:nth-child(4) > a:focus,
.navbar-nav.nav-justified > li:nth-child(5) > a:focus{
  border-bottom: 4px #ff0000 solid;
  background:#222222;
}

.navbar-nav.nav-justified > li:nth-last-child > a:hover,
.navbar-nav.nav-justified > li:nth-last-child > a:focus,
.navbar-nav.nav-justified > li:nth-last-child > a .active{
  margin-bottom:-4px;
}

.navbar-nav.nav-justified > .navbar-nav .active,
.navbar-nav.nav-justified > .active,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a{
  border-bottom: 2px #ff0000 solid;
  font-weight:700;
    text-transform:uppercase;
  outline:none;
  box-shadow: 0px 3px 9px rgba(250, 250, 250, 0.45) inset;
  z-index:103;
}

.navbar-nav.nav-justified > li:first-child{
  border-right:1px #5e5e5e solid;
  border-bottom:none;
}

.navbar-custom .dropdown-menu{
  right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

body{
  background:#fff;
  overflow-x:hidden;
  padding-bottom:0;
  margin-bottom:0;
}

.carousel{
  margin-bottom:10%;
}

.carousel-inner {
  margin-bottom:10%;
}

.carousel-indicators {
  position: absolute;
  bottom: -15%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff \9;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ff0000;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ff0000;
}

/*Page-header styling*/
.page-header > h1{
  color:#fff;
}

.carousel-control{
  cursor:pointer;
}

.carousel-inner .active.left{
  left: -25%;
}

.carousel-inner .next{
  left:25%;
}

.carousel-inner .prev{
  left:-25%;
}

.carousel-control{
  width:4%;
}

.carousel-control.left{
  margin-left:0;
  background-image:none;
}

.carousel-control.right{
  margin-right:0;
  background-image:none;
}

.thumb-inner .thumb2-inner{
  background:#fff;
}

/*Hide Carousel Controls until hover*/
.carousel .carousel-control{
  display:none;
}

/*Display Carousel Controls on hover*/
.carousel:hover .carousel-control{
  display:block;
}

#thumb-inner > .item{
  position:relative;
  overflow:hidden;
}

#thumb-inner > .item > a img{
  position:relative;
  overflow:hidden;
}