<div class="container">

    <div class="row">
    <div class="topCarousel" style="margin-top: 125px;">
      <ul class="slides">
        <li ng-repeat="slide in mySlides">
          <img ng-src="http://localhost:1337/api/upload/readFile?file={{slide.image}}" class="flex-image" />
        </li>
      </ul>
    </div>
    </div>

    <div class="row" id="newsletter-row">
        <h3 class="newsletter-heading">KEEP UP WITH ALL MYSTICAL MOON HAPPENINGS AND SPARKLY THINGS</h3>
        <p class="newsletter-subheading">Join us virtually with our monthly newsletter where we talk about planetary happenings, exclusive jewelry deals and any other woo woo we dream up!</p>
        <div class="center" style="text-align: center;">
            <input type="email" placeholder="Email Address" id="flat-design-email">
            <button type="submit" class="btn flat-design-button">Say Hey!</button>
        </div>
    </div>

    <div class="row">
        <div class="igCarousel">
          <ul class="slides">
            <li ng-repeat="image in instaImages">
              <img ng-src="{{image.images.thumbnail.url}}" class="flex-image" ng-click="igClick()" />
            </li>
          </ul>
        </div>
    </div>

</div>