<header>
   <nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
    <div class="container">
        <div class="navbar-header" style="height: 100px;">
            <button type="button" class="navbar-toggle collapsed button-header" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="icon-bar flat-icon-bar"></span>
                <span class="icon-bar flat-icon-bar"></span>
                <span class="icon-bar flat-icon-bar"></span>
                <span class="icon-bar flat-icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="home"><img src="img/zebLogo.jpg" alt="logo" style="width:70px"></a>
        </div>

        <div class="collapse navbar-collapse navbar-style" id="nav-collapse">
           <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
  </nav>
</header>
